<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-9 Rações</title>
    <link rel="icon" href="../static/imgs/logo_cropped.png">
    <link rel="stylesheet" href="../static/adicionarproduto.css">
</head>

<body>
    <div class="titulo">
        <h2>Adicionar Produto</h2> 
        <h2 class="canto">Usuário Logado</h2>
    </div>
   
<div class="BarraL">
    <ul>
        <li><a href="/estoque"><img class="img1" src="../static/imgs/estoque.png" alt=""></a></li>
        <li><a href="/principal"><img class="img2" src="../static/imgs/vendas.png" alt=""></a></li>
        <li><a class="active" href="/acrecentar"><img class="img3" src="../static/imgs/editarBranco.png" alt=""></a></li>
        <li><a href="../templates/"><img class="img4" src="../static/imgs/extrato.png" alt=""></a></li>
        <li><a href="/registro"><img class="img5" src="../static/imgs/carrinho.png" alt=""></a></li>
    
    </ul>
</div>

     <div class="Nome">
        <h3>
            Nome:
        </h3>
         
        <h3 class="nomeproduto">
            Nome do produto
        </h3>
       
     </div>
    
<div class="Descrição">
    <h3>
        Descrição:
    </h3>
    
    
    <h3 class="desc">
        Descrição
    </h3>

</div>
  

<div class="Preço">
    <h3>
        Preço:
    </h3>


    <h3 class="precoproduto">
        Preço do produto
    </h3>
   
</div>

    
<div class="Categoria">
    <h3>
        Categoria:
    </h3>
      
    
    
    <h3 class="catego">
        Categoria
    </h3>
       

</div>
    

<div class="Tipo">
    <h3>
        Tipo:
    </h3>
   


    <h3 class="quilo">
        Quilo/Unidade
    </h3>
   
</div>
  
<div class="Estoque_Quantidade">
    <h3>
        Estoque:
    </h3>
    
    
    <h3 class="quant">
        Quantidade
    </h3>

</div>
    

<div class="IMAGEM">
    
   
</div>

<div class="Botoes">

    <button class="Cancelar">
        Cancelar
    </button>
    
    <button class="Salvar">
        Salvar
    </button>

</div>

</body>
</html>
