<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-9 Rações</title>
    <link rel="icon" href="../static/imgs/logo_cropped.png">
    <link rel="stylesheet" href="../static/edicaoproduto.css">
</head>

<body>
    <header class="titulo">
       <div class="title-header">
        <h2>Edição de Produto</h2> 
       </div>
       <div class="title-header">
        <h2>Usuário Logado</h2>
       </div>
    </header>
   
<div class="BarraL">
    <ul>
        <li><a href="/estoque"><img class="img1" src="../static/imgs/estoque.png" alt=""></a></li>
        <li><a href="/principal"><img class="img2" src="../static/imgs/vendas.png" alt=""></a></li>
        <li><a href="/acrecentar"><img class="img3" src="../static/imgs/editar.png" alt=""></a></li>
        <li><a href="../templates/"><img class="img4" src="../static/imgs/extrato.png" alt=""></a></li>
        <li><a href="/registro"><img class="img5" src="../static/imgs/carrinho.png" alt=""></a></li>
    
    </ul>
</div>

<section id="edit">
   
    <div class="container">

        <div class="edit-form">
          
            <form action=" " method="POST">
               
                <div class="inputs">
                    <div class="dados">
                  
                        <div class="input-form">
                           <label for="name">Nome:</label>
                           <input type="text-file" class="name" name="name" id="name" placeholder="Nome do produto" autocomplete="off" required>
                           <img src="img/edit.png" alt="icon-edit" class="edit-name">
                        </div>
       
                        <div class="input-form">
                           <label for="price">Preço:</label>
                           <input type="text" value=" " class="price" name="price" id="price" placeholder="Preço do produto" 
                           autocomplete="off" required>
                           <img src="img/edit.png" alt="icon-edit" class="edit-price">
                           
                        </div>
       
                        <div class="input-form">
                           <label for="tipo">Tipo:</label>
                           <input type="text" class="tipo" name="tipo" id="tipo" placeholder="Tipo"autocomplete="off" required>
                           <img src="img/edit.png" alt="icon-edit" class="edit-tipo">
                           
                        </div>
       
                       </div>
       
                       <div class="dados">
                         
                           <div class="input-form">
                              <label for="desc">Descrição:</label>
                              <input type="text" class="desc" name="desc" id="desc" placeholder="Descrição" 
                              autocomplete="off" required>
                              <img src="img/edit.png" alt="icon-edit" class="edit-desc">
                           </div>
          
                           <div class="input-form">
                              <label for="cat">Categoria:</label>
                              <input type="text" class="categoria" name="categoria" id="categoria" placeholder="Categoria" 
                              autocomplete="off" required>
                              <img src="img/edit.png" alt="icon-edit" class="edit-cat">
                           </div>
          
                           <div class="input-form">
                              <label for="est">Estoque:</label>
                              <input type="text" class="estoque" name="estoque" id="estoque" placeholder="Estoque" 
                              autocomplete="off" required>
                               <img src="img/edit.png" alt="icon-edit" class="edit-est">
                           </div>
          
                        </div>
                    <div class="fileimg">
                        <div class="imagem">
                          
           
                            <input type="file">
                        </div>

                    </div>
                        
                        
                </div>

                 <div class="buttons">
                     <button>cancelar</button>
                     <button type="submit">salvar</button>
                 </div>

            </form>


        </div>

        

    </div>

 </section>

</body>
</html>
