<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/imgs/logo_cropped.png">
    <link rel="stylesheet" href="../static/estoque.css">
    <title>Estoque</title>
</head>
<body>
        <div class="titulo">
            <h1>Estoque</h1> 
            <h1 class="canto">Usuário Logado</h1>
         </div>
    

<ul>

    <li><a class="active" href="/estoque"><img class="img1" src="../static/imgs/estoqueBranco.png" alt=""></a></li>
    <li><a href="/principal"><img class="img2" src="../static/imgs/vendas.png" alt=""></a></li>
    <li><a href="/editar"><img class="img3" src="../static/imgs/editar.png" alt=""></a></li>
    <li><a href="../templates/"><img class="img4" src="../static/imgs/extrato.png" alt=""></a></li>
    <li><a href="../templates/"><img class="img5" src="../static/imgs/carrinho.png" alt=""></a></li>
  

</ul>

<div class="menu">

    <input type="text" id="produto" autocomplete="off"  placeholder="nome do produto">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Categoria</option>
            <option value="1">Higiene</option>
            <option value="2">Alimento</option>
            <option value="3">Brinquedos</option>
          </select>
    </div >
    <div class="produto">
    <h2>produto 1  </h2>
    <div class="Linhas"></div>
        <div class="qtd">
         <P>21 </P></div>
    <h2>produto 2  </h2>
    <div class="Linhas"></div>
        <div class="qtd">
        <P>21 </P></div>
    <h2>produto 3  </h2>
    <div class="Linhas"></div>
         <div class="qtd">
        <P>21 </P>
        </div>
    <h2>produto 4  </h2>
    <div class="Linhas"></div>
         <div class="qtd">
        <P>21 </P>
        </div>
    <h2>produto 5  </h2>
    <div class="Linhas"></div>
        <div class="qtd">
        <P>21 </P>
         </div>
    <h2>produto 6  </h2>
    <div class="Linhas"></div>
        <div class="qtd">
        <P>21 </P>
    </div>
    <h2>produto 7  </h2>
    <div class="Linhas"></div>
        <div class="qtd">
        <P>21 </P>
        </div>
    <h2>produto 8  </h2>
    <div class="Linhas"></div>
          <div class="qtd">
          <P>12 </P>
            </div>
    <h2>produto 9  </h2>
    <div class="Linhas"></div>
            <div class="qtd">
            <P>12 </P>
            </div>
    <h2>produto 10  </h2>
    <div class="Linhas"></div>
            <div class="qtd">
            <P>12 </P>
            </div>
                                   

</div>
    </div>
</div>
<div class="LinhaCentral">
</div>

<div class="backgroundx">
</div>


<div class="Descricao">
    
    <h4>
    Descrição: <br>

    <br>
    <br>
    Lorem ipsum dolor sit amet. laoreet quis Cras quis<br>
     Mauris libero Cras quis libero, Cras quis diam.<br>
    laoreet quis mattis in, sagittis a  at interdum <br>
    Nullam at interdum Lorem  laoreet laoreet quis mat <br>
    erat.  Mauris libero Cras Lorem ipsum dolo mattis<br>
    Cras quis diam nisl. at interdum Aenean. psum<br>
    Lorem  laoreet quis ipsum dolor sit amet. sag<br>

    </h4>
</div>
<div class="backgroundx1">
</div>

<div class="Descricao1">
    
    <h4>
    Preço:<br>
    <br>
    <R1>7,00</R1>
    

</div>

<div class="backgroundx2">
</div>

<div class="Descricao2">
    
    <h4>
    Quantidade:<br>
    <br>
<p>57 unidades</p>

</div>

<div class="botoes1">
    <button class="excluir">
        <a href="/editar">Editar</a> 
    </button>

    <button class="editar">
       <a href="/sobre">Sobre</a> 
    </button>
</div>

<div class="backgroundx3">
</div>

<div class="Descricao3">

<img src="../static/imgs/racao.jpg" alt="">

</div>


</body>
</html>