<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/imgs/logo_cropped.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/estoque.css">
    <title>K-9 Rações</title>
</head>
<body>
        <div class="titulo">
            <h1>Estoque</h1> 
            <h1 class="canto">Usuário Logado</h1>
         </div>
    

<ul>

    <li><a class="active" href="/estoque"><img class="img1" src="../static/imgs/estoqueBranco.png" alt=""></a></li>
    <li><a href="/principal"><img class="img2" src="../static/imgs/vendas.png" alt=""></a></li>
    <li><a href="/acrecentar"><img class="img3" src="../static/imgs/editar.png" alt=""></a></li>
    <li><a href="/extrato"><img class="img4" src="../static/imgs/extrato.png" alt=""></a></li>
    <li><a href="/registro"><img class="img5" src="../static/imgs/carrinho.png" alt=""></a></li>
  

</ul>

<div class="row p-5">
    <div class="col-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Pesquise por um item...">
            <div>
            <select class="form-select">
                <option value="" disabled selected>Categorias</option>
                <option value="Alimentos">Alimentos</option>
                <option value="Higinene">Higiene</option>
                <option value="Brinquedos">Brinquedos</option>

            </select>
             </div>
             <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
        </div>
          <div class="items">
              <div class="item">
                <p>Nome do produto</p>
                <div class="barra"></div>
                <p>R$ 22,95</p>
              </div>
          </div>
    <div class="col-8">
        
    <div class="LinhaCentral">
    </div>
    
    <div class="backgroundx">
    </div>
    
    
    <div class="Descricao">
        
        <h5>
        Descrição: <br>
    
        <br>
        <br>
        Lorem ipsum dolor sit amet. laoreet<br>
         Mauris libero Cras quis libero,<br>
        laoreet quis mattis in, sagittis a<br>
        Nullam at interdum Lorem  laoreet la<br>
        erat.  Mauris libero Cras Lorem ip<br>
        Cras quis diam nisl. at interdum.<br>
        Lorem  laoreet quis ipsum dolor sit<br>
    
        </h5>
    </div>

    <div class="backgroundx1">
    </div>
    
    <div class="Descricao1">
        
        <h5>
        Preço:<br>
        <br>
        <R1>7,00</R1>
        </H5>
    
    </div>
    
    <div class="backgroundx2">
    </div>
    
    <div class="Descricao2">
        
        <h5>
        Quantidade:<br>
        <br>
    <p>57 unidades</p>
        </H5>
    </div>
    
    <div class="botoes1">
        <button class="excluir">
            <a href="/estoque/editar">Editar</a> 
        </button>
    
        <button class="editar">
           <a href="/estoque/sobre">Sobre</a> 
        </button>
    </div>
    
    <div class="backgroundx3">
    </div>
    
    <div class="Descricao3">
    
    <img src="../static/imgs/racao.jpg" alt="">
    </div>

    </div>             
</div>
    

<script src="https://kit.fontawesome.com/e1314ff6bd.js" crossorigin="anonymous"></script>
</body>
</html>