<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>K-9 Rações</title>
    <link rel="icon" href="../static/imgs/logo_cropped.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/extrato.css">
</head>

<body>
    <div class="titulo">
        <h2>Extrato</h2> 
        <h2 class="canto">Usuário Logado</h2>
    </div>
    <ul>
        <li><a href="/estoque"><img class="img1" src="../static/imgs/estoque.png" alt=""></a></li>
        <li><a href="/principal"><img class="img2" src="../static/imgs/vendas.png" alt=""></a></li>
        <li><a href="/acrecentar"><img class="img3" src="../static/imgs/editar.png" alt=""></a></li>
        <li><a class="active" href="/extrato"><img class="img4" src="../static/imgs/extratoBranco.png" alt=""></a></li>
        <li><a href="/registro"><img class="img5" src="../static/imgs/carrinho.png" alt=""></a></li>
    
    </ul>
<form action='/extrato' method='POST'>
    <div class="row">
        <div class="col-12">
            <div class="m-4 d-flex justify-content-between">
                <h3><label>Vendas:{{Mes_Atual}}</label></h3>
                <div class="d-flex justify-content-between" style="width: 400px;">
                    <select class="form-select" name="ano" id="ano">
                        <option value="2022">2022</option>
                    </select>
                    <select class="form-select" name="mes" id="mes" type="submit" onchange="this.form.submit()">
                        <option value="1" >Janeiro</option>
                        <option value="2" >Fevereiro</option>
                        <option value="3" >Março</option>
                        <option value="4" >Abril</option>
                        <option value="5" >Maio</option>
                        <option value="6" >Junho</option>
                        <option value="7" >Julho</option>
                        <option value="8" >Agosto</option>
                        <option value="9" >Setembro</option>
                        <option value="10" type="submit" >Outubro</option>
                        <option value="11" >Novembro</option>
                        <option value="12" >Dezembro</option>
                    </select>
                </div>
            </div>
            <table class="table table-bordered table-hover table-sm tb">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                    {% for extrato in consulta %}
                <tr>
                        <td>{{extrato.data}}</td>
                        <td>{{extrato.quantidade}}</td>
                        <td>R${{extrato.valor}}</td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>
</body>
</html>