<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="https://o.remove.bg/downloads/4dbbaa31-210a-4460-881b-9c6ed1525bf3/image-removebg-preview.png">
        <link rel="stylesheet" href="../static/login.css">
        <title>Login</title>
    </head>
    <body>
      
        <div class="card-header">
            <img src="../static/imgs/logo.png" alt="">
        </div>

        <div id="login">
            <form action='/principal' class="card">

                <div class="card-content">
                    <div class="card-content-area">
                        <input type="text" name='usuario' id="usuario" autocomplete="off"  placeholder="Usuário">
                    </div>

                    <div class="card-content-area">
                        <input type="password" name='senha' id="password" autocomplete="off"  placeholder="Senha">
                    </div>

                </div>
                <div class="card-footer">               
                    <button type ='submit' class="button" name="Login">
                        Entrar
                    </button>
                </div>

            </form>

        </div>

    </body>

</html>
