<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../static/imgs/logo_cropped.png">
        <link rel="stylesheet" href="../static/login.css">
        <title>K-9 Rações</title>
    </head>
    <body>
      
        <div class="card-header">
            <img src="../static/imgs/logo.png" alt="">
        </div>
        <div id="login">
            <form action='/login' method='POST' class="card">
                
                <div class="card-content">
                    <div class="card-content-area">
                        <input type="text" name='usuario' id="usuario" autocomplete="off"  placeholder="Usuário">
                    </div>

                    <div class="card-content-area">
                        <input type="password" name='password' id="password" autocomplete="off"  placeholder="Senha">
                    </div>

                </div>
                {% if current_user.is_authenticated %}
                <div class="card-footer">               
                    <a href="{{url_for('main.principal')}}" class="button">
                        Entrar
                    </button>
                </div>
                {% endif %}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="notification is-danger">
                    <center>{{ messages[0] }}</center>
                </div>
                {% endif %}
                {% endwith %}
            </form>    
        </div>

    </body>

</html>
