<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/imgs/logo_cropped.png">
    <link rel="stylesheet" href="../static/registro-venda.css">
    <title>K-9 Rações</title>
</head>
<body>
        <div class="titulo">
            <h1 class="m-2">Registro De Venda</h1> 
            <h1 class="m-2">Usuário Logado</h1>
         </div>
        <ul style="height: 100%;">
            <li><a href="/estoque"><img class="img1" src="../static/imgs/estoque.png" alt=""></a></li>
            <li><a href="/principal"><img class="img2" src="../static/imgs/vendas.png" alt=""></a></li>
            <li><a href="/acrecentar"><img class="img3" src="../static/imgs/editar.png" alt=""></a></li>
            <li><a href="/extrato"><img class="img4" src="../static/imgs/extrato.png" alt=""></a></li>
            <li><a class="active" href="/registro"><img class="img5" src="../static/imgs/carrinhoBranco.png" alt=""></a></li>
        </ul>
<form action="/registro" method='POST'>
        <div class="row p-5">
            <div class="col-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="Barra" name="Barra" placeholder="Pesquise um item por codigo de barra...">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                  </div>
                  <div class="items" style="height: 600px;">
                      {% for desc in Produto%}  
                      <div class="item btn"  onclick="moveSelected(this)">
                          <p>{{desc[0]}}</p>
                          <div class="barra"></div>
                          <p>R$ {{desc[1]}}</p>
                        </div>
                      {% endfor %}
                  </div>
            </div>
            <div class="col-8">
                <div class="items" id="items2" style ="height: 400px;">
                    <div class="item2">
                        <p>{{nome}}</p>
                        <div class="barra"></div>
                        <p>Total: R$</p><p id="{{valor}}">{{valor}}</p>
                        <div class="barra"></div>
                        <div class="opt" id="opts">
                            <button type="button" class="btn" name="btn" id="plus"><i class="fa fa-plus"></i></button>
                            <div class="m-2" id="value">0</div>
                            <button type="button" class="btn" name="btn" id="minus"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- Caso seja quilo -->
                    <div class="item2">
                        <p>{{Produto}}</p>
                        <div class="barra"></div>
                        <p>Total: R$</p><p id="{{Valor}}">{{Valor}}</p>
                        <div class="barra"></div>
                        <div class="opt" id="opts">
                            <input type="text" class="form-control" placeholder="Quilos..." name="peso" id="peso">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="opts">
                    <div style="width: 100%;">
                        <h1>Total :</h1>
                    </div>
                    <div class="d-flex justify-content-around" style="width: 100%;">
                        <button class="btn btn-k9" type="reset" style="background-color: #d9d9d9;">Cancelar</button>
                        <button class="btn btn-k9" type="submit" style="background-color: #f39d38;">Finalizar</button>
                    </div>
                </div>
            </div>
        </div>
</form>
        <script src="../static/registro-venda.js"></script>
        <script src="https://kit.fontawesome.com/e1314ff6bd.js" crossorigin="anonymous"></script>
    </body>
    </html>