<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Sobreproduto.css">
    <title>Sobre o Produto</title>
</head>

<body>

    <div class="titulo">
        <h1>Produto</h1> 
        <h1 class="canto">Usuário Logado</h1>
     </div>

    <ul>
        <li><a class="active" href="/estoque"><img class="img1" src="../static/imgs/estoque.png" alt=""></a></li>
        <li><a href="/principal"><img class="img2" src="../static/imgs/vendasBranco.png" alt=""></a></li>
        <li><a href="/editar"><img class="img3" src="../static/imgs/editar.png" alt=""></a></li>
        <li><a href="../templates/"><img class="img4" src="../static/imgs/extrato.png" alt=""></a></li>
        <li><a href="/registro"><img class="img5" src="../static/imgs/carrinho.png" alt="">
    
    </ul>


    <div class="backgroundx">
    </div>

    <h4 class="Descricao">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero libero,<br>
        laoreet quis mattis in, sagittis a ex. Nullam at interdum sapien, eget blandit<br>
        erat. Cras quis diam nisl. Aenean.
    </h4>

    <div class="values">
        <h3 class="Quantidade">
            Quantidade:
        </h3>


        <h3 class="valor">
            Valor:
        </h3>
    </div>
    <div class="LinhaCentral">
    </div>
    <div class="historicoV">
        <h3>
            Histórico de Vendas
        </h3>

    </div>

    <div class="botoes1">
        <button class="excluir">
            <a href="">Excluir</a>
        </button>


        <button class="editar">
            <a href="">Editar</a>
        </button>
    </div>

</body>

</html>