<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/imgs/logo_cropped.png">
    <link rel="stylesheet" href="../static/telainicial.css">
    <title>K-9 Rações</title>
</head>
<body>
        <div class="titulo">
            <h1>Gráfico de Vendas</h1> 
            <h1 class="canto">Usuário Logado</h1>
         </div>
    

         <ul>
            <li><a href="/estoque"><img class="img1" src="../static/imgs/estoque.png" alt=""></a></li>
            <li><a class="active" href="/principal"><img class="img2" src="../static/imgs/vendasBranco.png" alt=""></a></li>
            <li><a href="/acrecentar"><img class="img3" src="../static/imgs/editar.png" alt=""></a></li>
            <li><a href="../templates/"><img class="img4" src="../static/imgs/extrato.png" alt=""></a></li>
            <li><a href="/registro"><img class="img5" src="../static/imgs/carrinho.png" alt=""></a></li>
        
        </ul>

<div class="slds-p-top--medium">
    <div>
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <p>Line Chart</p>
            <object type="image/svg+xml" data="../static/{{image_url}}">
                Your browser does not support SVG
            </object>
        </svg>
    </div>
</div>


</body>
</html>
