<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
    crossorigin="anonymous">
    <link rel="icon" href="../static/imgs/logo_cropped.png">
    <link rel="stylesheet" href="../static/telainicial.css">
    <title>K-9 Rações</title>
</head>
<body>
        <div class="titulo">
            <h1>Gráfico de Vendas</h1> 
            <h1 class="canto">Usuário Logado</h1>
         </div>
    <div class="container">
         <ul>
            <li><a href="/estoque"><img class="img1" src="../static/imgs/estoque.png" alt=""></a></li>
            <li><a class="active" href="/principal"><img class="img2" src="../static/imgs/vendasBranco.png" alt=""></a></li>
            <li><a href="/acrecentar"><img class="img3" src="../static/imgs/editar.png" alt=""></a></li>
            <li><a href="/extrato"><img class="img4" src="../static/imgs/extrato.png" alt=""></a></li>
            <li><a href="/registro"><img class="img5" src="../static/imgs/carrinho.png" alt=""></a></li>
        </ul>
    </div>
<div class="slds-p-top--medium">
    <div class="container" >
        <object type="image/svg+xml" data="{{image_url}}">
            <img src='../static/imgs/grafico.svg' alt=" " />
        </object>
    </div>
</div>
</body>
</html>