* {
    font-family: Verdana;
    margin: 0px;
    padding: 0px;
 }

.titulo {
    display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
  border-bottom: 2px gray solid;
}

body, html {
    width: 100%;
    height: 100%;
  }
  
p {
  margin-bottom: 0px;
}

ul {
    text-align: center;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f39d38;
    height: 100%;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 46.4px 10px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #f39d38;
  }
  
  li a:hover:not(.active) {
    background-color: orange;
  }

  .btn-k9 {
    font-weight: bold;
    font-size: x-large;
    width: 250px;
    height: 100px;
    background-color: #f39d38;
}

.item {
  display: flex;
  justify-content: space-around;
  background-color: #d9d9d9;
  border-radius: 10px;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
}

.barra {
  border: 2px black solid;
  height: 50px;
}